openapi: '3.0.0'
info:
  version: 1.0.0
  title: Dan Raftis Documentation API
  license:
    name: MIT
servers:
  - url: https://api.danraftis.com/v1
paths:
  /repositories:
    get:
      summary: List all documentation repositories
      operationId: listRepositories
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of documentation repositories
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation repository
      operationId: createRepository
      responses:
        201:
          description: Repository created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repositories/{repositoryId}:
    get:
      summary: Retrieve information about a specific documentation repository
      operationId: getRepository
      parameters:
        - name: repositoryId
          in: path
          required: true
          description: The unique identifier of the repository to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the requested repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repositories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Repository:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Repositories:
      type: array
      items:
        $ref: '#/components/schemas/Repository'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string